.App{
  min-height: 100vh;
}

nav{
  display: flex;
  flex-direction: row;
  min-height: 4.5rem;
  padding: 0px 9px 0px 9px;
  max-width: 100%;
  box-shadow: 0px 0px 2px #aaa;
}

nav{
  justify-content: center;
} 
nav div{
  display: flex;
  flex-direction: row;
}
.App-Logo{
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-self: center;
  letter-spacing: .3px;
  text-transform: uppercase;
  color: rgba(32,26,162,.866667);
  font-weight: 800;
}

.App-Logo-Img{
  width: 4rem;
  height: 4rem;
  display: flex;
  align-self: center;
}

.App-Content{
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.App-List{
  max-width: 100%;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  margin: 1rem 1rem 1rem 1rem;
  box-shadow: 1px 1px 5px #aaa;
  text-decoration: none;
  border-radius: 5px;
  padding: 1rem;
}


.List{
  max-width: 100%;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  margin: 1rem 1rem 1rem 1rem;
  box-shadow: 1px 1px 5px #aaa;
  text-decoration: none;
  border-radius: 5px;
}

.List-Icon{
    width: 3rem;
    height: 3rem;
    display: flex;
    border: none;
}
.List-Thump{
  width: 5rem;
  height: 5rem;
  display: flex;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.List-Name{
  width: 100%;
  display: flex;
  padding-left: 30px;
  font-weight: 700;
  color: rgba(32,26,162,.866667);
}
.List-Title{
  width: 100%;
  display: flex;
  align-self: center;
  padding-left: 9px;
  font-weight: 700;
  color: rgba(32,26,162,.866667);
}

.Details{
  display: flex;
  max-width: 100%;
  flex-direction: column;
  padding: 1rem;
}

.Details-Img{
  display: flex;
  align-self: center;
  justify-content: center;
  width: 15rem;
  height: 15rem;
  border-radius: 15px;
}
.Details-Title{
  color: rgba(32,26,162,.866667);
  display: flex;
  align-self: center;
  justify-content: center;
}
.Details-Body{
  display: flex;
  flex-direction: column;
}
.Glass{
  color: rgba(32,26,162,.866667);
  justify-content: flex-start;
  margin-right: auto;
  font-weight: 700;
  font-size: 13px;
  align-self: center;
  text-transform: uppercase !important;
}
.Date{
  color: rgba(32,26,162,.866667);
  justify-content: flex-end;
  font-weight: 700;
  font-size: 12px;
  align-self: center;
}
.Details-Tag{
  display: flex;
  flex-direction: row;
}
.Details-Table{
  max-width: 100%;
  border-collapse: collapse;
}
.Tag-Ico{
  width: 1rem;
  height: 1rem;
  display: flex;
  padding-right: 5px;
  align-self: center;
  
}
.Details-Table th, td {
  padding: 5px;
  border: 1px solid #aaa;
  text-align: left;
}
.Details-Table tr td, .Details-Table tr th{
  text-align: left;
}
.Footer{
  display: flex;
  justify-content: center;
}
